<div class="container">

  <div class="row">
    <div class="col-md-3">
      <%= render 'info', user: @user %>
      <%= render 'books/new_book', new_book: @new_book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <%= render 'books/list', books: @books, user: @user %>
    </div>

  </div>

</div>
